___

<a href='http://www.pieriandata.com'> <img src='../../Pierian_Data_Logo.png' /></a>
___

# SF Salaries Exercise 

Welcome to a quick exercise for you to practice your pandas skills! We will be using the [SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) from Kaggle! Just follow along and complete the tasks outlined in bold below. The tasks will get harder and harder as you go along.

** Import pandas as pd.**

In [38]:
import pandas as pd

** Read Salaries.csv as a dataframe called sal.**

In [39]:
sal = pd.read_csv('Salaries.csv')
sal

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
148649,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.0,0.00,0.00,2014,NaN,San Francisco,NaN
148650,148651,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148651,148652,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148652,148653,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,NaN

** Check the head of the DataFrame. **

In [40]:
sal.head

<bound method NDFrame.head of             Id       EmployeeName  \
0            1     NATHANIEL FORD
1            2       GARY JIMENEZ
2            3     ALBERT PARDINI
3            4  CHRISTOPHER CHONG
4            5    PATRICK GARDNER
...        ...                ...
148649  148650      Roy I Tillery
148650  148651       Not provided
148651  148652       Not provided
148652  148653       Not provided
148653  148654          Joe Lopez

                                              JobTitle    BasePay  \
0       GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY  167411.18
1                      CAPTAIN III (POLICE DEPARTMENT)  155966.02
2                      CAPTAIN III (POLICE DEPARTMENT)  212739.13
3                 WIRE ROPE CABLE MAINTENANCE MECHANIC   77916.00
4         DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)  134401.60
...                                                ...        ...
148649                                       Custodian       0.00
148650                                    Not provided        NaN
148651                                    Not provided        NaN
148652                                    Not provided        NaN
148653                      Counselor, Log Cabin Ranch       0.00

        OvertimePay   OtherPay  Benefits   TotalPay  TotalPayBenefits  Year  \
0              0.00  400184.25       NaN  567595.43         567595.43  2011
1         245131.88  137811.38       NaN  538909.28         538909.28  2011
2         106088.18   16452.60       NaN  335279.91         335279.91  2011
3          56120.71  198306.90       NaN  332343.61         332343.61  2011
4           9737.00  182234.59       NaN  326373.19         326373.19  2011
...             ...        ...       ...        ...               ...   ...
148649         0.00       0.00       0.0       0.00              0.00  2014
148650          NaN        NaN       NaN       0.00              0.00  2014
148651          NaN        NaN       NaN       0.00              0.00  2014
148652          NaN        NaN       NaN       0.00              0.00  2014
148653         0.00    -618.13       0.0    -618.13           -618.13  2014

        Notes         Agency  Status
0         NaN  San Francisco     NaN
1         NaN  San Francisco     NaN
2         NaN  San Francisco     NaN
3         NaN  San Francisco     NaN
4         NaN  San Francisco     NaN
...       ...            ...     ...
148649    NaN  San Francisco     NaN
148650    NaN  San Francisco     NaN
148651    NaN  San Francisco     NaN
148652    NaN  San Francisco     NaN
148653    NaN  San Francisco     NaN

[148654 rows x 13 columns]>

** Use the .info() method to find out how many entries there are.**

In [41]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

**What is the average BasePay ?**

In [42]:
sal['BasePay'].mean()

66325.44884050643

** What is the highest amount of OvertimePay in the dataset ? **

In [43]:
sal['OvertimePay'].max()

245131.88

** What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll). **

In [55]:
sal.loc[sal['EmployeeName'] == 'JOSEPH DRISCOLL'].index[0]
sal.loc[24,'JobTitle']

'CAPTAIN, FIRE SUPPRESSION'

** How much does JOSEPH DRISCOLL make (including benefits)? **

In [56]:
sal.loc[24, 'TotalPayBenefits']

270324.91

** What is the name of highest paid person (including benefits)?**

In [65]:
top = sal['TotalPayBenefits'].max()
sal[sal['TotalPayBenefits'] == top]
sal.loc[0,'EmployeeName']

'NATHANIEL FORD'

** What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

In [68]:
sal.loc[sal['TotalPayBenefits'] == 0]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
36156,36157,PAULETTE ADAMS,"STATIONARY ENGINEER, WATER TREATMENT PLANT",0.0,0.0,0.0,NaN,0.0,0.0,2011,NaN,San Francisco,NaN
36157,36158,KAUKAB MOHSIN,TRANSIT OPERATOR,0.0,0.0,0.0,NaN,0.0,0.0,2011,NaN,San Francisco,NaN
36158,36159,JOSEPHINE MCCREARY,MANAGER IV,0.0,0.0,0.0,NaN,0.0,0.0,2011,NaN,San Francisco,NaN
148626,148627,Paulet Gaines,Account Clerk,0.0,0.0,0.0,0.0,0.0,0.0,2014,NaN,San Francisco,NaN
148627,148628,Brett A Lundberg,General Laborer,0.0,0.0,0.0,0.0,0.0,0.0,2014,NaN,San Francisco,NaN
148628,148629,Mark W Mcclure,General Laborer,0.0,0.0,0.0,0.0,0.0,0.0,2014,NaN,San Francisco,NaN
148629,148630,Elizabeth Iniguez,Transcriber Typist,0.0,0.0,0.0,0.0,0.0,0.0,2014,NaN,San Francisco,NaN
148630,148631,Randy J Keys,Carpenter,0.0,0.0,0.0,0.0,0.0,0.0,2014,NaN,San Francisco,NaN
148631,148632,Andre M Johnson,Communications Dispatcher 1,0.0,0.0,0.0,0.0,0.0,0.0,2014,NaN,San Francisco,NaN
148632,148633,Sharon D Owens-Webster,Protective Services Worker,0.0,0.0,0.0,0.0,0.0,0.0,2014,NaN,San Francisco,NaN
148633,148634,Edward Ferdinand,General Laborer,0.0,0.0,0.0,0.0,0.0,0.0,2014,NaN,San Francisco,NaN
148634,148635,David M Turner,Transit Car Cleaner,0.0,0.0,0.0,0.0,0.0,0.0,2014,NaN,San Francisco,NaN
148635,148636,James S Kibblewhite,General Laborer,0.0,0.0,0.0,0.0,0.0,0.0,2014,NaN,San Francisco,NaN
148636,148637,Andrew J Enzi,Arborist Technician,0.0,0.0,0.0,0.0,0.0,0.0,2014,NaN,San Francisco,NaN
148637,148638,Kadeshra D Green,Transit Fare Inspector,0.0,0.0,0.0,0.0,0.0,0.0,2014,NaN,San Francisco,NaN
148638,148639,Lennard B Hutchinson,Electrician,0.0,0.0,0.0,0.0,0.0,0.0,2014,NaN,San Francisco,NaN
148639,148640,Richard A Talbert,Custodian,0.0,0.0,0.0,0.0,0.0,0.0,2014,NaN,San Francisco,NaN
148640,148641,Charlene D Mccully,Parking Control Officer,0.0,0.0,0.0,0.0,0.0,0.0,2014,NaN,San Francisco,NaN
148641,148642,Raphael Marquis Goins,Museum Guard,0.0,0.0,0.0,0.0,0.0,0.0,2014,NaN,San Francisco,NaN
148642,148643,Dominic C Marquez,Sign Worker,0.0,0.0,0.0,0.0,0.0,0.0,2014,NaN,San Francisco,NaN
148643,148644,Kim Brewer,Parking Control Officer,0.0,0.0,0.0,0.0,0.0,0.0,2014,NaN,San Francisco,NaN
148644,148645,Randy D Winn,"Stationary Eng, Sewage Plant",0.0,0.0,0.0,0.0,0.0,0.0,2014,NaN,San Francisco,NaN
148645,148646,Carolyn A Wilson,Human Services Technician,0.0,0.0,0.0,0.0,0.0,0.0,2014,NaN,San Francisco,NaN
148646,148647,Not provided,Not provided,NaN,NaN,NaN,NaN,0.0,0.0,2014,NaN,San Francisco,NaN
148647,148648,Joann Anderson,Communications Dispatcher 2,0.0,0.0,0.0,0.0,0.0,0.0,2014,NaN,San Francisco,NaN
148648,148649,Leon Walker,Custodian,0.0,0.0,0.0,0.0,0.0,0.0,2014,NaN,San Francisco,NaN
148649,148650,Roy I Tillery,Custodian,0.0,0.0,0.0,0.0,0.0,0.0,2014,NaN,San Francisco,NaN
148650,148651,Not provided,Not provided,NaN,NaN,NaN,NaN,0.0,0.0,2014,NaN,San Francisco,NaN
148651,148652,Not provided,Not provided,NaN,NaN,NaN,NaN,0.0,0.0,2014,NaN,San Francisco,NaN
148652,148653,Not provided,Not provided,NaN,NaN,NaN,NaN,0.0,0.0,2014,NaN,San Francisco,NaN

** What was the average (mean) BasePay of all employees per year? (2011-2014) ? **

In [84]:
result1 = sal[(sal['Year'] == 2011) & sal['TotalPayBenefits'] > 0]
result2 = sal[(sal['Year'] == 2012) & sal['TotalPayBenefits'] > 0]
result3 = sal[(sal['Year'] == 2013) & sal['TotalPayBenefits'] > 0]
result4 = sal[(sal['Year'] == 2014) & sal['TotalPayBenefits'] > 0]

print("2011", result1['TotalPayBenefits'].max())
print("2012", result2['TotalPayBenefits'].max())
print("2013", result3['TotalPayBenefits'].max())
print("2014", result4['TotalPayBenefits'].max())

2011 567595.43
2012 407274.78
2013 425815.28
2014 510732.68

** How many unique job titles are there? **

In [88]:
sal['JobTitle'].nunique()

2159

** What are the top 5 most common jobs? **

In [89]:
sal['JobTitle'].value_counts().head(5)

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

** How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?) **

In [91]:
sum(sal[sal['Year']==2013]['JobTitle'].value_counts() == 1)

202

** How many people have the word Chief in their job title? (This is pretty tricky) **

In [96]:
def chiefs(title):
    if 'chief' in title.lower().split():
        return True
    else:
        return False

In [97]:
sum(sal['JobTitle'].apply(lambda x: chiefs(x)))

477

** Bonus: Is there a correlation between length of the Job Title string and Salary? **

In [98]:
sal['title_len'] = sal['JobTitle'].apply(len)

In [101]:
sal[['TotalPayBenefits', 'title_len']].corr()

                  TotalPayBenefits  title_len
TotalPayBenefits          1.000000  -0.036878
title_len                -0.036878   1.000000

# Great Job!